services:
  rmq:
    image: rabbitmq:4-management
    container_name: rmq
    ports: 
      - 5672:5672
      - 15672:15672
    networks:
      - main

  redis:
    image: redis:latest
    container_name: redis
    ports:
     - 6379:6379
    networks:
      - main
    volumes:
      - redis-data:/data

  inventory-database:
    image: postgres:17
    container_name: inventory-database
    environment:
      - POSTGRES_PASSWORD=pass
      - POSTGRES_USER=user
      - POSTGRES_DB=main
    ports:
      - 5430:5432
    networks:
      - main
    volumes:
      - inventory-database-data:/var/lib/postgresql/data

  sales-database:
    image: postgres:17
    container_name: sales-database
    environment:
      - POSTGRES_PASSWORD=pass
      - POSTGRES_USER=user
      - POSTGRES_DB=main
    ports:
      - 5431:5432
    networks:
      - main
    volumes:
      - sales-database-data:/var/lib/postgresql/data

  access-database:
    image: postgres:17
    container_name: access-database
    environment:
      - POSTGRES_PASSWORD=pass
      - POSTGRES_USER=user
      - POSTGRES_DB=main
    ports:
      - 5432:5432
    networks:
      - main
    volumes:
      - access-database-data:/var/lib/postgresql/data


volumes:
  redis-data:
  inventory-database-data:
  sales-database-data:
  access-database-data:

networks:
  main:
    driver: bridge